# In this file you should put environment variables that consist of something personal.
# For example, an absolute path to Casualties Unknown root folder.

GameDir="/user/whatever/steam/steamapps/common/Casualties Unknown Demo"
